.product-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 990px){
    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
}

.product-information > *{
    margin-bottom: 2rem;
}

.product-grid .product-title{
    font-size: 2.2rem;
}

.product-grid .product-price{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-grid .product-price span{
    font-size: 1.4rem;
    font-weight: 700;
}

.product-grid .product-price span.product_regular--price{
    color: #000;
}

.product-grid .product-price span.product_old--price{
    color: #D9D9D9;
}

.product-grid .product-price .product_price--badge{
    color: rgb(var(--color-button));
    font-size: 1rem;
    text-transform: lowercase;
}

.product-content{
    color: rgb(--color-foreground);
    font-size: 1.2rem;
}

@media (min-width: 750px){
    .product-content{
        font-size: 1.4rem;
    }
}

.product-tags{
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

.product-tags span{
    color: #818181;
    font-size: 1.2rem;
    position: relative;
}

.product-tags span:not(:last-child)::after{
    content: '';
    width: .6rem;
    height: .6rem;
    position: absolute;
    right: -2.1rem;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    background: #d9d9d9;
    border-radius: 50%;
}

.add-to-cart{
    cursor: pointer;
}

@media (min-width: 750px){
    .product-tags span{
        font-size: 1.4rem;
    }
}

.accordion {
    max-width: 550px;
    margin: auto;
    border: 1px solid #000;
    margin-top: 4rem;
}
  
.accordion-header {
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    background: #ffffff;
    color: #000;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
}

.accordion-header:not(:last-child){
    border-bottom: 1px solid #000000;
}

.accordion-header .icon-chevron{
    transform: rotate(90deg);
    font-weight: 300;
}

.accordion-header.active .icon-chevron{
    transform: rotate(270deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: white;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
}

.accordion-content p {
    margin: 1rem 0;
}